In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from typing import List

In [2]:
data_1 = pd.read_csv("./customer-product-dynamics/customer-product-dynamics/transactions_1.csv", index_col=0)
data_2 = pd.read_csv("./customer-product-dynamics/customer-product-dynamics/transactions_2.csv", index_col=0)

In [3]:
data_1.shape, data_2.shape

((500000, 3), (475955, 3))

In [4]:
data_1.head()

   customer_id  product_id                      date
0      6689489  0A4G5LZWCP  2017-01-31T09:31:08.873Z
1      6689489  XZ6UVEYK40  2017-02-03T16:59:16.610Z
2      6689489  XZ6UVEYK40  2017-02-05T19:47:55.353Z
3      6689489  XZ6UVEYK40  2017-02-05T19:48:14.633Z
4      6689489  XZ6UVEYK40  2017-02-06T09:59:49.053Z

In [5]:
data_2.head()

        customer_id  product_id                      date
500000      5055762  FA7OOL7Z3T  2018-06-28T09:19:11.130Z
500001      5055762  G5HEPH9A2T  2019-07-17T08:06:29.500Z
500002      5055762  GJROWT9RPV  2017-06-22T07:29:22.440Z
500003      5055762  GJROWT9RPV  2017-06-22T07:50:10.863Z
500004      5055762  GJROWT9RPV  2017-06-22T08:40:35.923Z

In [6]:
customers_data_1 = data_1["customer_id"].unique()

In [7]:
customers_data_2 = data_2["customer_id"].unique()

In [8]:
repeated_customer = []
for i in customers_data_1:
    for j in customers_data_2:
        if i == j:
            repeated_customer.append(i)

repeated_customer

[5055762]

In [9]:
total_data = pd.concat([data_1, data_2], axis=0)
total_data.shape

(975955, 3)

In [26]:
total_data

        customer_id  product_id                      date
0           6689489  0A4G5LZWCP  2017-01-31T09:31:08.873Z
1           6689489  XZ6UVEYK40  2017-02-03T16:59:16.610Z
2           6689489  XZ6UVEYK40  2017-02-05T19:47:55.353Z
3           6689489  XZ6UVEYK40  2017-02-05T19:48:14.633Z
4           6689489  XZ6UVEYK40  2017-02-06T09:59:49.053Z
...             ...         ...                       ...
975950      9770266  5RPSDK28JR  2019-05-17T10:06:43.037Z
975951      2552305  5RPSDK28JR  2017-10-27T17:49:54.483Z
975952      6004163  I2IYFZIO6X  2019-01-09T16:31:08.133Z
975953      6632569  0A4G5LZWCP  2017-03-29T16:25:05.907Z
975954      9277279  5RPSDK28JR  2020-03-16T22:39:59.247Z

[975955 rows x 3 columns]

In [29]:
total_data = total_data.rename(columns={"date": "timestamp"})
# Convert the 'Timestamp' column to datetime
total_data['timestamp'] = pd.to_datetime(total_data['timestamp'])

In [30]:
total_data

        customer_id  product_id                        timestamp
0           6689489  0A4G5LZWCP 2017-01-31 09:31:08.873000+00:00
1           6689489  XZ6UVEYK40 2017-02-03 16:59:16.610000+00:00
2           6689489  XZ6UVEYK40 2017-02-05 19:47:55.353000+00:00
3           6689489  XZ6UVEYK40 2017-02-05 19:48:14.633000+00:00
4           6689489  XZ6UVEYK40 2017-02-06 09:59:49.053000+00:00
...             ...         ...                              ...
975950      9770266  5RPSDK28JR 2019-05-17 10:06:43.037000+00:00
975951      2552305  5RPSDK28JR 2017-10-27 17:49:54.483000+00:00
975952      6004163  I2IYFZIO6X 2019-01-09 16:31:08.133000+00:00
975953      6632569  0A4G5LZWCP 2017-03-29 16:25:05.907000+00:00
975954      9277279  5RPSDK28JR 2020-03-16 22:39:59.247000+00:00

[975955 rows x 3 columns]

In [31]:
total_sales_per_customer = total_data.groupby('customer_id').size().reset_index(name='total_sales')
print(total_sales_per_customer)

      customer_id  total_sales
0         1000178          111
1         1000692          348
2         1000821           64
3         1004714           34
4         1005470           39
...           ...          ...
1997      9974841           52
1998      9976006           68
1999      9978245          610
2000      9997425           16
2001      9998153           32

[2002 rows x 2 columns]

In [32]:
total_sales_per_product = total_data.groupby('product_id').size().reset_index(name='total_sales')
print(total_sales_per_product)

    product_id  total_sales
0   0A4G5LZWCP        82930
1   0AB7PTAD3X         4218
2   0HLIWH0CA1        41003
3   0UZVWTQ50H            7
4   0W3289OYXV          771
5   2O4Z94LNOH         1040
6   5PCWS3EUMP            7
7   5Q7TNFLZP0          517
8   5RPSDK28JR       201916
9   7JJJCPI5I1          208
10  8AK5LRZ5VT         1188
11  8G3QVND4G4         4797
12  8U5TGHTE3K           99
13  AZZNRHR3YP         2918
14  COSLJ5LVBV         3058
15  FA7OOL7Z3T        29438
16  G5HEPH9A2T        85551
17  GJROWT9RPV        46581
18  H6I7VPD3HT         1553
19  HGJK5XE5G5           15
20  I2IYFZIO6X        42566
21  K7UMH2OQR5         1495
22  KBPHROW5HR            4
23  LAPLMIIN3W           63
24  LH62FHO1A6          609
25  LPQH18YYNM         1471
26  MCFYUL8ZJD            6
27  MWXFAKV7Y0        36963
28  MXCNLTSVHH          204
29  MYK4H73OQB         1415
30  O66JVFS978        52725
31  P7UUH8Z9N9           58
32  PVAPE5GNLE        14496
33  R8EZYK63TN           89
34  RKQNX5PHI1            5
35  RSVSIRNTSZ         8351
36  RZ1BJ9ZV9C        17953
37  SG1EXRRGE2         4786
38  STKA6MQ10S            7
39  VD51ZQPY9D        70418
40  WLD5DLYFB0         2644
41  WS7C94TZ6U          549
42  X7R6XY5T33           11
43  XD4I34ED7F        57626
44  XZ6UVEYK40        87190
45  YRRT480XIZ         1295
46  Z4N23EOA13        42723
47  Z6OHD7VB3J            3
48  ZH8YQX1ZL2         5510
49  ZWL2RHU5YP        16905

In [33]:
total_data['timestamp'] = pd.to_datetime(total_data['timestamp'])
total_data['month'] = total_data['timestamp'].dt.to_period('M')
total_sales_per_month = total_data.groupby('month').size().reset_index(name='total_sales')
print(total_sales_per_month)

      month  total_sales
0   2017-01        12459
1   2017-02        32986
2   2017-03        37451
3   2017-04        24347
4   2017-05        42609
5   2017-06        60730
6   2017-07        44717
7   2017-08        36690
8   2017-09        41564
9   2017-10        57570
10  2017-11        49303
11  2017-12        14467
12  2018-01        12895
13  2018-02        14834
14  2018-03        13041
15  2018-04        10361
16  2018-05        19663
17  2018-06        31572
18  2018-07        31109
19  2018-08        19463
20  2018-09        21029
21  2018-10        41075
22  2018-11        29286
23  2018-12        32478
24  2019-01        30439
25  2019-02        14011
26  2019-03        21977
27  2019-04        15797
28  2019-05        20536
29  2019-06        17967
30  2019-07        21369
31  2019-08        15947
32  2019-09        14768
33  2019-10        18500
34  2019-11        17171
35  2019-12        11080
36  2020-01        11085
37  2020-02         9187
38  2020-03         4422

/tmp/ipykernel_663/2255372716.py:2: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  total_data['month'] = total_data['timestamp'].dt.to_period('M')

In [34]:
total_sales_per_customer_product = total_data.groupby(['customer_id', 'product_id']).size().reset_index(name='total_sales')
print(total_sales_per_customer_product)

       customer_id  product_id  total_sales
0          1000178  0A4G5LZWCP           20
1          1000178  5RPSDK28JR           32
2          1000178  FA7OOL7Z3T           12
3          1000178  G5HEPH9A2T            7
4          1000178  GJROWT9RPV            3
...            ...         ...          ...
21825      9997425  RSVSIRNTSZ            1
21826      9997425  RZ1BJ9ZV9C            1
21827      9997425  XZ6UVEYK40            1
21828      9998153  VD51ZQPY9D           22
21829      9998153  XZ6UVEYK40           10

[21830 rows x 3 columns]

In [17]:
# Extract year and month for easier analysis
total_data['year'] = total_data['timestamp'].dt.year
total_data['month'] = total_data['timestamp'].dt.month
total_data['day'] = total_data['timestamp'].dt.day
total_data.head()

   customer_id  product_id                        timestamp  month  year  day
0      6689489  0A4G5LZWCP 2017-01-31 09:31:08.873000+00:00      1  2017   31
1      6689489  XZ6UVEYK40 2017-02-03 16:59:16.610000+00:00      2  2017    3
2      6689489  XZ6UVEYK40 2017-02-05 19:47:55.353000+00:00      2  2017    5
3      6689489  XZ6UVEYK40 2017-02-05 19:48:14.633000+00:00      2  2017    5
4      6689489  XZ6UVEYK40 2017-02-06 09:59:49.053000+00:00      2  2017    6

In [35]:
total_data['date'] = total_data['timestamp'].dt.date 
total_data.head()

,customer_id,product_id,timestamp,month,date
0,6689489,0A4G5LZWCP,2017-01-31 09:31:08.873000+00:00,2017-01,2017-01-31
1,6689489,XZ6UVEYK40,2017-02-03 16:59:16.610000+00:00,2017-02,2017-02-03
2,6689489,XZ6UVEYK40,2017-02-05 19:47:55.353000+00:00,2017-02,2017-02-05
3,6689489,XZ6UVEYK40,2017-02-05 19:48:14.633000+00:00,2017-02,2017-02-05
4,6689489,XZ6UVEYK40,2017-02-06 09:59:49.053000+00:00,2017-02,2017-02-06

In [36]:
total_data.dtypes

customer_id                  int64
product_id                  object
timestamp      datetime64[ns, UTC]
month                    period[M]
date                        object
dtype: object

In [33]:
total_sales_per_customer_product_day = total_data.groupby(['customer_id', 'product_id', 'day', 'month', 'year']).size().reset_index(name='total_sales')
print(total_sales_per_customer_product_day)

        customer_id  product_id  day  month  year  total_sales
0           1000178  0A4G5LZWCP   15      9  2017           11
1           1000178  0A4G5LZWCP   25      8  2017            5
2           1000178  0A4G5LZWCP   27      3  2017            1
3           1000178  0A4G5LZWCP   28      3  2017            2
4           1000178  0A4G5LZWCP   28      8  2017            1
...             ...         ...  ...    ...   ...          ...
299570      9998153  VD51ZQPY9D   12      9  2019           20
299571      9998153  XZ6UVEYK40    5      5  2019            3
299572      9998153  XZ6UVEYK40   19      7  2019            2
299573      9998153  XZ6UVEYK40   20      7  2019            1
299574      9998153  XZ6UVEYK40   22      7  2019            4

[299575 rows x 6 columns]

In [37]:
total_data["date"] = total_data['timestamp'].dt.date

In [40]:
total_sales_per_customer_product_day = total_data.groupby(['customer_id', 'product_id', 'day', 'month', 'year']).size().reset_index(name='total_sales')
print(total_sales_per_customer_product_day)

        customer_id  product_id  day  month  year  total_sales
0           1000178  0A4G5LZWCP   15      9  2017           11
1           1000178  0A4G5LZWCP   25      8  2017            5
2           1000178  0A4G5LZWCP   27      3  2017            1
3           1000178  0A4G5LZWCP   28      3  2017            2
4           1000178  0A4G5LZWCP   28      8  2017            1
...             ...         ...  ...    ...   ...          ...
299570      9998153  VD51ZQPY9D   12      9  2019           20
299571      9998153  XZ6UVEYK40    5      5  2019            3
299572      9998153  XZ6UVEYK40   19      7  2019            2
299573      9998153  XZ6UVEYK40   20      7  2019            1
299574      9998153  XZ6UVEYK40   22      7  2019            4

[299575 rows x 6 columns]

In [31]:
data = pd.concat([data_1, data_2], axis=0)
data['date'] = pd.to_datetime(data['date'] )
data['date'] = data['date'].dt.date

In [32]:
data["customer_id"] = data["customer_id"].astype(str)
data.dtypes

customer_id    object
product_id     object
date           object
dtype: object

In [33]:
total_sales_per_customer_product_day = data.groupby(['customer_id', 'product_id', 'date']).size().reset_index(name='sales')
print(total_sales_per_customer_product_day)

       customer_id  product_id        date  sales
0          1000178  0A4G5LZWCP  2017-03-27      1
1          1000178  0A4G5LZWCP  2017-03-28      2
2          1000178  0A4G5LZWCP  2017-08-25      5
3          1000178  0A4G5LZWCP  2017-08-28      1
4          1000178  0A4G5LZWCP  2017-09-15     11
...            ...         ...         ...    ...
299570     9998153  VD51ZQPY9D  2019-09-12     20
299571     9998153  XZ6UVEYK40  2019-05-05      3
299572     9998153  XZ6UVEYK40  2019-07-19      2
299573     9998153  XZ6UVEYK40  2019-07-20      1
299574     9998153  XZ6UVEYK40  2019-07-22      4

[299575 rows x 4 columns]

In [34]:
total_sales_per_customer_product_day["sales"] = total_sales_per_customer_product_day["sales"].astype('float')
total_sales_per_customer_product_day.dtypes

customer_id     object
product_id      object
date            object
sales          float64
dtype: object

In [35]:
total_sales_per_customer_product_day.quantile([0, 0.05, 0.50, 0.95, 0.99, 1]).T

/tmp/ipykernel_6527/1720518107.py:1: FutureWarning: The default value of numeric_only in DataFrame.quantile is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  total_sales_per_customer_product_day.quantile([0, 0.05, 0.50, 0.95, 0.99, 1]).T

       0.00  0.05  0.50  0.95  0.99   1.00
sales   1.0   1.0   2.0  11.0  24.0  208.0

In [36]:
# total_sales_per_customer_product_day = total_data.groupby(['customer_id', 'product_id', 'day', 'month', 'year', 'date']).size().reset_index(name='total_sales')
# print(total_sales_per_customer_product_day)

In [37]:
total_sales_per_customer_product_day.to_csv("prepared_sales_data.csv", index=False)

In [38]:
total_sales_per_customer_product_day["date"] = total_sales_per_customer_product_day["date"].astype(str)
total_sales_per_customer_product_day

       customer_id  product_id        date  sales
0          1000178  0A4G5LZWCP  2017-03-27    1.0
1          1000178  0A4G5LZWCP  2017-03-28    2.0
2          1000178  0A4G5LZWCP  2017-08-25    5.0
3          1000178  0A4G5LZWCP  2017-08-28    1.0
4          1000178  0A4G5LZWCP  2017-09-15   11.0
...            ...         ...         ...    ...
299570     9998153  VD51ZQPY9D  2019-09-12   20.0
299571     9998153  XZ6UVEYK40  2019-05-05    3.0
299572     9998153  XZ6UVEYK40  2019-07-19    2.0
299573     9998153  XZ6UVEYK40  2019-07-20    1.0
299574     9998153  XZ6UVEYK40  2019-07-22    4.0

[299575 rows x 4 columns]

In [34]:
total_sales_per_customer_day= total_data.groupby(['customer_id', 'day', 'month', 'year']).size().reset_index(name='total_sales')
print(total_sales_per_customer_day)

        customer_id  day  month  year  total_sales
0           1000178    4     10  2018           10
1           1000178    5      9  2017            2
2           1000178    7      9  2017            1
3           1000178    9      9  2017            1
4           1000178   15      9  2017           11
...             ...  ...    ...   ...          ...
141992      9998153   10      9  2019            2
141993      9998153   12      9  2019           20
141994      9998153   19      7  2019            2
141995      9998153   20      7  2019            1
141996      9998153   22      7  2019            4

[141997 rows x 5 columns]

In [ ]:
df_unique_customers = total_data[['customer_id']].drop_duplicates()
df_unique_customers

In [ ]:
transactions_per_customer = total_data.groupby('customer_id')['product_id'].count().sort_values(ascending=False)
transactions_per_customer.index = transactions_per_customer.index.map(str)

In [ ]:
# Plotting (limit to top 30 customers for better readability)
top_n = 30
plt.figure(figsize=(12, 8))
plt.bar(transactions_per_customer.index[:top_n], transactions_per_customer.values[:top_n])
plt.ylabel('Total Transactions')
plt.xlabel('Customer ID')
plt.xticks(rotation=90)
plt.title('Total Transactions per Customer (Top 30)')
plt.show()

In [ ]:
total_data["product_id"].unique()

In [ ]:
product_id = "0A4G5LZWCP"
product_data = total_data[total_data["product_id"] == product_id]
monthly_product_data = product_data["month"].value_counts().sort_index()
yearly_product_data = product_data["year"].value_counts().sort_index()
yearly_product_data

In [ ]:
# Plot the data
plt.figure(figsize=(10, 6))
monthly_product_data.plot(kind='bar')
plt.xlabel('Month')
plt.ylabel('Number of Transactions')
plt.title(f'Transaction Frequency per Month for Product {product_id} in 2018')
plt.show()

In [ ]:
# Plot the data
plt.figure(figsize=(10, 6))
yearly_product_data.plot(kind='bar')
plt.xlabel('Year')
plt.ylabel('Number of Transactions')
plt.title(f'Transaction Frequency per Year')
plt.show()

In [ ]:
total_product_orders = total_data.groupby(['customer_id', 'product_id', 'year']).size().reset_index(name='TotalOrders')
total_product_orders

In [ ]:
# Function to calculate day_of_season_number
def get_season_day(date):
    year = date.year
    seasons = {
        'spring': pd.date_range(start=f'{year}-03-01', end=f'{year}-05-31'),
        'summer': pd.date_range(start=f'{year}-06-01', end=f'{year}-08-31'),
        'autumn': pd.date_range(start=f'{year}-09-01', end=f'{year}-11-30'),
        'winter': pd.date_range(start=f'{year}-12-01', end=f'{year+1}-02-28')  # includes Dec to Feb next year
    }
    for season, dates in seasons.items():
        if date in dates:
            return (date - dates[0]).days + 1

In [ ]:
# df = total_data

# # Calculate day_of_week_number
# df['day_of_week_number'] = df['timestamp'].dt.dayofweek

# # Calculate day_of_month_number
# df['day_of_month_number'] = df['timestamp'].dt.day

# # Calculate day_of_year_number
# df['day_of_year_number'] = df['timestamp'].dt.dayofyear

# # Calculate month_of_year_number
# df['month_of_year_number'] = df['timestamp'].dt.month

# # Calculate day_of_season_number
# df['day_of_season_number'] = df['timestamp'].apply(get_season_day)

# df

In [22]:
old = pd.read_csv("data_trc.csv")
old.dtypes

product_id     object
store_id       object
date           object
sales         float64
dtype: object